.parent-container {
  width: 50%;
  min-width: 600px;
  min-width: 1200px;
  margin: auto auto;
  justify-content: center;
}

.row1 {
width: 100%;
padding-bottom: 35px;
display: flex;
flex-flow: row wrap;

&::before {
      display: block;
}
}

.content-container{
width: 100%;
margin-top: 50px;
}

.row-content {
width: 100%;
margin-top: 50px;
align-items: center;
display: flex;
flex-flow: row wrap;

&::before {
      display: block;
}
}

.hyperlink_eth {
color: #262626;
text-decoration: underline;
}

.hyperlink_eth:hover { 
color: #262626;
text-decoration-color: #1f407a; 
text-decoration: underline;
}

.hyperlink_news {
color: #262626;
text-decoration: underline;
}

.hyperlink_news:hover { 
color: #262626;
text-decoration-color: #37814A; 
text-decoration: underline;
}

.hyperlink_pi {
color: #262626;
text-decoration: underline;
}

.hyperlink_pi:hover { 
color: #262626;
text-decoration-color: #ffce00; 
text-decoration: underline;
}

.hyperlink_lse {
color: #262626;
text-decoration: underline;
}

.hyperlink_lse:hover { 
color: #262626;
text-decoration-color: #ed1c2e; 
text-decoration: underline;
}

.hyperlink_ndt {
color: #262626;
text-decoration: underline;
}

.hyperlink_ndt:hover { 
color: #262626;
text-decoration-color: #56347c; 
text-decoration: underline;
}

#JFP_img{
display:block;
margin: 0 auto;
}

#eth-icon-g{
transform:scale(1.9);
-webkit-transform:scale(1.9);
}

#blue-area{
background-color: #f1f5fa;
padding: 30px 20px;
}

#lightblue-area{
background-color: #f5fbfd;
padding: 30px 20px;
}

#yellow-area{
background-color: #fffbec;
padding: 30px 20px;
}

#green-area{
background-color: #f2f9f0;
padding: 30px 20px;
}

#red-area{
background-color: #ffe9eb;
padding: 30px 20px;
}

#violet-area{
background-color: #f1eaf7;
padding: 30px 20px;
}

#content{
padding: 0% 7%;
}

#icon-content{
display:block;
margin: 0 auto;
}

.icon{
margin-left:auto; 
margin-right:auto; 
display:block;
}

.custom-list {
  list-style: none;
  padding-left: 0;
}
.custom-list li {
  position: relative;
  padding-left: 20px;
}
.custom-list li:before {
  content: '';
  width: 12.5px;
  height: 16px;
  position: absolute;
  background-image: url('https://raw.githubusercontent.com/jfparie/jfparie.github.io/master/Images/pdf_bestand.png');
  background-size: 15px 17.5px;
  background-position: center;
  left: 0;
}

.custom-list2 {
  list-style: none;
  padding-left: 0;
}
.custom-list2 li {
  position: relative;
  padding-left: 20px;
}
.custom-list2 li:before {
  content: '';
  width: 12.5px;
  height: 16px;
  position: absolute;
  background-image: url('https://raw.githubusercontent.com/jfparie/jfparie.github.io/master/Images/Headphones.png');
  background-size: 17.5px 15px;
  background-position: center;
  left: 0;
}

.footer {
height: 25px;
margin-top: 100px;
display: flex;
flex-flow: row wrap;

&::before {
      display: block;
}
}


:root {
/* Change this to change the appearance of the hexaons */
--hex-width: 131px;
--hex-between: 20px;

/* Other hexagon dimentions */
--hex-height: calc(var(--hex-width) / 1.73);
--hex-margin: calc(var(--hex-width) / 2);
--hex-border: calc(var(--hex-margin) / 1.73);
--hex-transition: all 0.2s ease;

/* Colors */
--color-hex-default: #000000;
--color-hex-hover: #ffffff;
--color-none: #ffffff;
--color-jfp: #ffffff;
--color-mail: #cc0000;
--color-linkedin: #0077b5;
--color-eth: #1f407a;
--color-git: #f14e32;
--color-news: #37814A ;
--color-pi: #ffce00;
--color-lse: #ed1c2e;
--color-ndt: #56347c;
--color-hobby: #8dd6f9;
}

/* Hexagons */
.hexagon-container {
width: 740px;
margin: 0% auto;
display: grid;
grid-template-columns: var(--hex-width) var(--hex-width) var(--hex-width) var(
    --hex-width
  );
grid-auto-rows: calc(var(--hex-width) - 28.87px/2);
grid-gap: var(--hex-between) var(--hex-between);
padding-bottom: var(--hex-border);
}

.hexagon {
align-items: center;
background-color: var(--color-hex-default);
cursor: pointer;
display: flex;
fill: white;
height: var(--hex-height);
justify-content: center;
margin: var(--hex-border) 0;
position: relative;
transition: var(--hex-transition);
width: var(--hex-width);
}

.hexagon::after,
.hexagon::before {
border-left: var(--hex-margin) solid transparent;
border-right: var(--hex-margin) solid transparent;
content: "";
left: 0;
position: absolute;
transition: var(--hex-transition);
width: 0;
}
.hexagon::after {
border-top: var(--hex-border) solid var(--color-hex-default);
top: 100%;
width: 0;
}
.hexagon::before {
border-bottom: var(--hex-border) solid var(--color-hex-default);
bottom: 100%;
}

.hexagon:hover {
background-color: var(--color-hex-hover);
}
.hexagon:hover::after,
.hexagon:hover::before {
border-top-color: var(--color-hex-hover);
border-bottom-color: var(--color-hex-hover);
}

.hexagon:nth-child(8n + 5),
.hexagon:nth-child(8n + 6),
.hexagon:nth-child(8n + 7),
.hexagon:nth-child(8n + 8) {
margin-left: calc(var(--hex-width) / 2 + var(--hex-between) / 2);
}

.hexagon > svg {
height: 75%;
transition: var(--hex-transition);
}

/* Colors */
.color-none {
background-color: var(--color-none);
}
.color-none::after,
.color-none::before {
border-top-color: var(--color-none);
border-bottom-color: var(--color-none);
}

.color-jfp {
background-color: var(--color-none);
}
.color-jfp::after,
.color-jfp::before {
border-top-color: var(--color-jfp);
border-bottom-color: var(--color-jfp);
}
.color-jfp:hover {
fill: var(--color-jfp);
}

.color-mail {
background-color: var(--color-mail);
}
.color-mail::after,
.color-mail::before {
border-top-color: var(--color-mail);
border-bottom-color: var(--color-mail);
}
.color-mail:hover {
fill: var(--color-mail);
}

.color-linkedin {
background-color: var(--color-linkedin);
}
.color-linkedin::after,
.color-linkedin::before {
border-top-color: var(--color-linkedin);
border-bottom-color: var(--color-linkedin);
}
.color-linkedin:hover {
fill: var(--color-linkedin);
}

.color-pi {
background-color: var(--color-pi);
}
.color-pi::after,
.color-pi::before {
border-top-color: var(--color-pi);
border-bottom-color: var(--color-pi);
}
.color-pi:hover {
fill: var(--color-pi);
}

.color-git {
background-color: var(--color-git);
}
.color-git::after,
.color-git::before {
border-top-color: var(--color-git);
border-bottom-color: var(--color-git);
}
.color-git:hover {
fill: var(--color-git);
}

.color-news {
background-color: var(--color-news);
}
.color-news::after,
.color-news::before {
border-top-color: var(--color-news);
border-bottom-color: var(--color-news);
}
.color-news:hover {
fill: var(--color-news);
}

.color-lse {
background-color: var(--color-lse);
}
.color-lse::after,
.color-lse::before {
border-top-color: var(--color-lse);
border-bottom-color: var(--color-lse);
}
.color-lse:hover {
fill: var(--color-lse);
}

.color-eth {
background-color: var(--color-eth);
}
.color-eth::after,
.color-eth::before {
border-top-color: var(--color-eth);
border-bottom-color: var(--color-eth);
}
.color-eth:hover {
fill: var(--color-eth);
}

.color-ndt {
background-color: var(--color-ndt);
}
.color-ndt::after,
.color-ndt::before {
border-top-color: var(--color-ndt);
border-bottom-color: var(--color-ndt);
}
.color-ndt:hover {
fill: var(--color-ndt);
}

.color-hobby {
background-color: var(--color-hobby);
}
.color-hobby::after,
.color-hobby::before {
border-top-color: var(--color-hobby);
border-bottom-color: var(--color-hobby);
}
.color-hobby:hover {
fill: var(--color-hobby);
}