<!-- {{ partial "contact.html" }} -->

<footer class="footer border-top">
  <div class="container">
    <div class="row">
      <div class="col">

        <ul class="navbar-nav ">
          <li class="nav-item align-self-center">
            <a data-scroll class="nav-link" href="/">
              <!-- HOME -->
              <div class="w-50">
                <img src="/images/JFP.png" alt="Home" class="img-fluid">
              </div>
            </a>
          </li>
        </ul>
      </div>
      <div class="col align-self-center">
      </div>
      <div class="col align-self-center">
        <ul class="navbar-nav list-group list-group-horizontal">
          <li class="nav-item mx-4">
            <a data-scroll class="nav-link" href="mailto:jfparie@me.com">
              {{ partial "svg/mail.html" }}
            </a>
          </li>
          <li class="nav-item mx-4">
            <a data-scroll class="nav-link" href="https://linkedin.com/in/jfparie/" target="_blank">
              {{ partial "svg/linkedin.html" }}
            </a>
          </li>
          <li class="nav-item mx-4">
            <a data-scroll class="nav-link" href="https://github.com/jfparie" target="_blank">
              {{ partial "svg/git.html" }}
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</footer>